In [22]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [233]:
##### 파일 불러오기 #####
df = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\1_food_waste_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'waste_cnt', 'waste_amt']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  waste_cnt  waste_amt
base_date
2019-11-30 2019-11-30  50110250        620    2279550
2019-12-31 2019-12-31  50110250       8178   31493650
2020-01-31 2020-01-31  50110250      13042   49632850
2020-02-29 2020-02-29  50110250      12264   46197050
2020-03-31 2020-03-31  50110250      14316   52561750
...               ...       ...        ...        ...
2021-02-28 2021-02-28  50130620       4563   15566250
2021-03-31 2021-03-31  50130620       4920   17300600
2021-04-30 2021-04-30  50130620       5256   17646850
2021-05-31 2021-05-31  50130620       6346   19494750
2021-06-30 2021-06-30  50130620       6328   18753350

[1634 rows x 4 columns]

In [234]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'waste_amt'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  waste_cnt
base_date
2019-11-30  50110250        620
2019-12-31  50110250       8178
2020-01-31  50110250      13042
2020-02-29  50110250      12264
2020-03-31  50110250      14316
...              ...        ...
2021-02-28  50130620       4563
2021-03-31  50130620       4920
2021-04-30  50130620       5256
2021-05-31  50130620       6346
2021-06-30  50130620       6328

[1634 rows x 2 columns]

In [235]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110690  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            waste_cnt
base_date
2018-01-31       5338
2018-02-28       4940
2018-03-31       5648
2018-04-30       5572
2018-05-31       6253
2018-06-30       6760
2018-07-31       8109
2018-08-31       7809
2018-09-30       7408
2018-10-31       6888
2018-11-30       6403
2018-12-31       6233
2019-01-31       5913
2019-02-28       5621
2019-03-31       5700
2019-04-30       5888
2019-05-31       6704
2019-06-30       7195
2019-07-31       8407
2019-08-31       8766
2019-09-30       7896
2019-10-31       7376
2019-11-30       6909
2019-12-31       6527
2020-01-31       6581
2020-02-29       6079
2020-03-31       6373
2020-04-30       5890
2020-05-31       6872
2020-06-30       6829
2020-07-31       8482
2020-08-31       8578
2020-09-30       7432
2020-10-31       7681
2020-11-30       7114
2020-12-31       6863
2021-01-31       6898
2021-02-28       5969
2021-03-31       6681
2021-04-30       6926
2021-05-31       8298
2021-06-30       8749

In [236]:
# series 형으로 변환
sub_df.to_dict('series')

{'waste_cnt': base_date
 2018-01-31    5338
 2018-02-28    4940
 2018-03-31    5648
 2018-04-30    5572
 2018-05-31    6253
 2018-06-30    6760
 2018-07-31    8109
 2018-08-31    7809
 2018-09-30    7408
 2018-10-31    6888
 2018-11-30    6403
 2018-12-31    6233
 2019-01-31    5913
 2019-02-28    5621
 2019-03-31    5700
 2019-04-30    5888
 2019-05-31    6704
 2019-06-30    7195
 2019-07-31    8407
 2019-08-31    8766
 2019-09-30    7896
 2019-10-31    7376
 2019-11-30    6909
 2019-12-31    6527
 2020-01-31    6581
 2020-02-29    6079
 2020-03-31    6373
 2020-04-30    5890
 2020-05-31    6872
 2020-06-30    6829
 2020-07-31    8482
 2020-08-31    8578
 2020-09-30    7432
 2020-10-31    7681
 2020-11-30    7114
 2020-12-31    6863
 2021-01-31    6898
 2021-02-28    5969
 2021-03-31    6681
 2021-04-30    6926
 2021-05-31    8298
 2021-06-30    8749
 Name: waste_cnt, dtype: int64}

# ARIMA

In [237]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [238]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -0.687012
p-value : 0.850085
Critical Values :
	1%: -3.653520
	5%: -2.957219
	10%: -2.617588

In [239]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -4.754665
p-value : 0.000066
Critical Values :
	1%: -3.669920
	5%: -2.964071
	10%: -2.621171

In [240]:
##### 이건 설치하는 거라 처음 돌릴 때 한 번만 주석 풀어서 설치하고 그 이후로는 필요없음! #####

#!pip install pmdarima

In [241]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=701.591, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=679.226, Time=0.06 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=667.531, Time=0.11 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=662.405, Time=0.08 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=664.120, Time=0.10 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=673.133, Time=0.23 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=667.852, Time=0.02 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=668.130, Time=0.02 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=662.172, Time=0.04 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=663.530, Time=0.09 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=inf, Time=0.19 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=666.158, Time=0.03 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=670.568, Time=0.16 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=663.415, Time=0.17 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=658.711, Time=0.20 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=658.196, Time=0.06 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=659.584, Time=0.15 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=663.082, Time=0.15 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=659.316, Time=0.08 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=661.153, Time=0.16 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=661.431, Time=0.18 sec

Best model:  ARIMA(3,0,0)(0,0,0)[1] intercept
Total fit time: 2.289 seconds

ARIMA(order=(3, 0, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [242]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.waste_cnt.values, order=(3,0,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\asus\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(3, 0)   Log Likelihood                -324.087
Method:                       css-mle   S.D. of innovations            529.851
Date:                Fri, 10 Sep 2021   AIC                            658.175
Time:                        15:29:46   BIC                            666.863
Sample:                             0   HQIC                           661.359

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       6921.5310    185.333     37.347      0.000    6558.286    7284.776
ar.L1.y        0.8942      0.131      6.806      0.000       0.637       1.152
ar.L2.y        0.1465      0.194      0.753      0.451      -0.235       0.528
ar.L3.y       -0.4896      0.143     -3.428      0.001      -0.770      -0.210
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            0.9571           -0.5906j            1.1246           -0.0880
AR.2            0.9571           +0.5906j            1.1246            0.0880
AR.3           -1.6149           -0.0000j            1.6149           -0.5000
-----------------------------------------------------------------------------

# 예측하기

In [243]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([8755.14204482, 8154.96710316]), array([529.85138499, 710.79296191]), array([[7716.65241308, 9793.63167656],
       [6761.83849735, 9548.09570897]]))