In [22]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [192]:
##### 파일 불러오기 #####
df = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\1_food_waste_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'waste_cnt', 'waste_amt']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  waste_cnt  waste_amt
base_date
2019-11-30 2019-11-30  50110250        620    2279550
2019-12-31 2019-12-31  50110250       8178   31493650
2020-01-31 2020-01-31  50110250      13042   49632850
2020-02-29 2020-02-29  50110250      12264   46197050
2020-03-31 2020-03-31  50110250      14316   52561750
...               ...       ...        ...        ...
2021-02-28 2021-02-28  50130620       4563   15566250
2021-03-31 2021-03-31  50130620       4920   17300600
2021-04-30 2021-04-30  50130620       5256   17646850
2021-05-31 2021-05-31  50130620       6346   19494750
2021-06-30 2021-06-30  50130620       6328   18753350

[1634 rows x 4 columns]

In [193]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'waste_amt'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  waste_cnt
base_date
2019-11-30  50110250        620
2019-12-31  50110250       8178
2020-01-31  50110250      13042
2020-02-29  50110250      12264
2020-03-31  50110250      14316
...              ...        ...
2021-02-28  50130620       4563
2021-03-31  50130620       4920
2021-04-30  50130620       5256
2021-05-31  50130620       6346
2021-06-30  50130620       6328

[1634 rows x 2 columns]

In [194]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110650  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            waste_cnt
base_date
2018-01-31      87893
2018-02-28      80743
2018-03-31      90628
2018-04-30      90536
2018-05-31      99607
2018-06-30     106320
2018-07-31     127759
2018-08-31     121127
2018-09-30     112172
2018-10-31     103328
2018-11-30      96205
2018-12-31      92782
2019-01-31      90183
2019-02-28      83752
2019-03-31      86765
2019-04-30      87345
2019-05-31      99507
2019-06-30     104813
2019-07-31     117094
2019-08-31     118698
2019-09-30     108349
2019-10-31     102100
2019-11-30      94404
2019-12-31      91744
2020-01-31      77081
2020-02-29      86995
2020-03-31      96062
2020-04-30      89161
2020-05-31     102397
2020-06-30      93671
2020-07-31     118315
2020-08-31     123257
2020-09-30     109284
2020-10-31     103635
2020-11-30      93837
2020-12-31      96956
2021-01-31      92675
2021-02-28      85077
2021-03-31      90560
2021-04-30      87258
2021-05-31      98129
2021-06-30     105468

In [195]:
# series 형으로 변환
sub_df.to_dict('series')

{'waste_cnt': base_date
 2018-01-31     87893
 2018-02-28     80743
 2018-03-31     90628
 2018-04-30     90536
 2018-05-31     99607
 2018-06-30    106320
 2018-07-31    127759
 2018-08-31    121127
 2018-09-30    112172
 2018-10-31    103328
 2018-11-30     96205
 2018-12-31     92782
 2019-01-31     90183
 2019-02-28     83752
 2019-03-31     86765
 2019-04-30     87345
 2019-05-31     99507
 2019-06-30    104813
 2019-07-31    117094
 2019-08-31    118698
 2019-09-30    108349
 2019-10-31    102100
 2019-11-30     94404
 2019-12-31     91744
 2020-01-31     77081
 2020-02-29     86995
 2020-03-31     96062
 2020-04-30     89161
 2020-05-31    102397
 2020-06-30     93671
 2020-07-31    118315
 2020-08-31    123257
 2020-09-30    109284
 2020-10-31    103635
 2020-11-30     93837
 2020-12-31     96956
 2021-01-31     92675
 2021-02-28     85077
 2021-03-31     90560
 2021-04-30     87258
 2021-05-31     98129
 2021-06-30    105468
 Name: waste_cnt, dtype: int64}

# ARIMA

In [196]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [197]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -4.683081
p-value : 0.000091
Critical Values :
	1%: -3.646135
	5%: -2.954127
	10%: -2.615968

In [198]:
##### 이건 설치하는 거라 처음 돌릴 때 한 번만 주석 풀어서 설치하고 그 이후로는 필요없음! #####

#!pip install pmdarima

In [199]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=912.492, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=893.585, Time=0.05 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=885.668, Time=0.02 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=883.910, Time=0.03 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=890.684, Time=0.03 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=892.033, Time=0.10 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=886.317, Time=0.02 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=887.244, Time=0.03 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=885.465, Time=0.03 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=886.458, Time=0.05 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=inf, Time=0.21 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=886.071, Time=0.03 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=891.216, Time=0.09 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=887.631, Time=0.09 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=890.406, Time=0.12 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=880.069, Time=0.09 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=875.026, Time=0.19 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.24 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=877.902, Time=0.08 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=876.641, Time=0.34 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=878.382, Time=0.17 sec

Best model:  ARIMA(3,0,1)(0,0,0)[1] intercept
Total fit time: 2.022 seconds

ARIMA(order=(3, 0, 1), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [200]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.waste_cnt.values, order=(3,0,1))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\asus\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(3, 1)   Log Likelihood                -426.570
Method:                       css-mle   S.D. of innovations           5821.794
Date:                Fri, 10 Sep 2021   AIC                            865.141
Time:                        15:25:53   BIC                            875.567
Sample:                             0   HQIC                           868.962

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       9.932e+04    215.073    461.818      0.000    9.89e+04    9.97e+04
ar.L1.y        1.2433      0.140      8.850      0.000       0.968       1.519
ar.L2.y       -0.2137      0.239     -0.894      0.371      -0.682       0.255
ar.L3.y       -0.3884      0.144     -2.693      0.007      -0.671      -0.106
ma.L1.y       -1.0000      0.076    -13.172      0.000      -1.149      -0.851
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            0.9072           -0.5157j            1.0435           -0.0823
AR.2            0.9072           +0.5157j            1.0435            0.0823
AR.3           -2.3646           -0.0000j            2.3646           -0.5000
MA.1            1.0000           +0.0000j            1.0000            0.0000
-----------------------------------------------------------------------------

# 예측하기

In [201]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([109536.37015341, 111172.1364336 ]), array([5821.79421365, 5991.62639601]), array([[ 98125.86316925, 120946.87713757],
       [ 99428.7644886 , 122915.50837859]]))