In [1]:
import pandas as pd
import numpy as np

In [2]:
waste = pd.read_csv("C:\\Users\\asus\\BigContest\\code\\unknown_waste_monthly.csv")
card = pd.read_csv("C:\\Users\\asus\\BigContest\\code\\unknown_card_monthly.csv")

In [3]:
waste

            em_cnt      em_g
2018-01-31    1107   8880900
2018-02-28     950   7543950
2018-03-31    1169   9287150
2018-04-30    1305   9853350
2018-05-31    1585  10290950
2018-06-30    1796  10533050
2018-07-31    2050  11860200
2018-08-31    2222  12184350
2018-09-30    1550   9085850
2018-10-31    1515   9371850
2018-11-30    1615   9997100
2018-12-31    1335   8593600
2019-01-31    1077   5044050
2019-02-28       0         0
2019-03-31       0         0
2019-04-30       0         0
2019-05-31       0         0
2019-06-30       0         0
2019-07-31       0         0
2019-08-31       0         0
2019-09-30     320    482950
2019-10-31     424    550350
2019-11-30     439    621300
2019-12-31     460    828350
2020-01-31     388    645900
2020-02-29     187    337600
2020-03-31       0         0
2020-04-30       0         0
2020-05-31       0         0
2020-06-30     574    836200
2020-07-31     197   1372799
2020-08-31     389   2387650
2020-09-30     314   2010300
2020-10-31     300   2226900
2020-11-30     254   2088750
2020-12-31     239   2147470
2021-01-31     237   2057700
2021-02-28     224   1985100
2021-03-31     230   2153800
2021-04-30     212   1936900
2021-05-31     260   1910750
2021-06-30     327   2157850

In [4]:
card

            use_cnt    use_amt
2018-01-31     7933  290431278
2018-02-28     4922  195870617
2018-03-31     5107  177446688
2018-04-30     5060  168054124
2018-05-31     5073  187931451
2018-06-30     4802  187104600
2018-07-31     6288  210439552
2018-08-31     7475  237965036
2018-09-30     6052  220159204
2018-10-31     6444  217978179
2018-11-30     5245  200023456
2018-12-31     5245  201375148
2019-01-31     6302  232779056
2019-02-28     6175  205395781
2019-03-31     5702  185669893
2019-04-30     5605  195979797
2019-05-31     6725  234908907
2019-06-30     6220  206107416
2019-07-31     5901  182317649
2019-08-31     5606  202005018
2019-09-30     5294  177061133
2019-10-31     5876  202258401
2019-11-30     5585  196369681
2019-12-31     5784  179502914
2020-01-31     5628  182277366
2020-02-29     5296  144287056
2020-03-31     6040  197273750
2020-04-30     6432  207309895
2020-05-31     8414  266037857
2020-06-30     8865  297824869
2020-07-31     6129  212088143
2020-08-31     6640  205674492
2020-09-30     7808  263746722
2020-10-31     8440  303357061
2020-11-30     8519  312563299
2020-12-31     5869  197864119
2021-01-31     5348  180676329
2021-02-28     4305  159696790
2021-03-31     5049  186445683
2021-04-30     4993  137582002
2021-05-31     5225  165997264
2021-06-30     4996  150722192

In [7]:
data = pd.merge(waste, card, left_index=True, right_index=True, how='left')
data

            em_cnt      em_g  use_cnt    use_amt
2018-01-31    1107   8880900     7933  290431278
2018-02-28     950   7543950     4922  195870617
2018-03-31    1169   9287150     5107  177446688
2018-04-30    1305   9853350     5060  168054124
2018-05-31    1585  10290950     5073  187931451
2018-06-30    1796  10533050     4802  187104600
2018-07-31    2050  11860200     6288  210439552
2018-08-31    2222  12184350     7475  237965036
2018-09-30    1550   9085850     6052  220159204
2018-10-31    1515   9371850     6444  217978179
2018-11-30    1615   9997100     5245  200023456
2018-12-31    1335   8593600     5245  201375148
2019-01-31    1077   5044050     6302  232779056
2019-02-28       0         0     6175  205395781
2019-03-31       0         0     5702  185669893
2019-04-30       0         0     5605  195979797
2019-05-31       0         0     6725  234908907
2019-06-30       0         0     6220  206107416
2019-07-31       0         0     5901  182317649
2019-08-31       0         0     5606  202005018
2019-09-30     320    482950     5294  177061133
2019-10-31     424    550350     5876  202258401
2019-11-30     439    621300     5585  196369681
2019-12-31     460    828350     5784  179502914
2020-01-31     388    645900     5628  182277366
2020-02-29     187    337600     5296  144287056
2020-03-31       0         0     6040  197273750
2020-04-30       0         0     6432  207309895
2020-05-31       0         0     8414  266037857
2020-06-30     574    836200     8865  297824869
2020-07-31     197   1372799     6129  212088143
2020-08-31     389   2387650     6640  205674492
2020-09-30     314   2010300     7808  263746722
2020-10-31     300   2226900     8440  303357061
2020-11-30     254   2088750     8519  312563299
2020-12-31     239   2147470     5869  197864119
2021-01-31     237   2057700     5348  180676329
2021-02-28     224   1985100     4305  159696790
2021-03-31     230   2153800     5049  186445683
2021-04-30     212   1936900     4993  137582002
2021-05-31     260   1910750     5225  165997264
2021-06-30     327   2157850     4996  150722192

# 회귀분석

In [8]:
import statsmodels.api as sm

In [11]:
feature = data.drop(['em_g'], 1)

em_g = data[['em_g']]
x_card_cnt = data['use_cnt']

x_data1 = sm.add_constant(x_card_cnt, has_constant = "add")

multi_model = sm.OLS(em_g, x_card_cnt)
fitted_multi_model = multi_model.fit()

fitted_multi_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   em_g   R-squared (uncentered):                   0.403
Model:                            OLS   Adj. R-squared (uncentered):              0.388
Method:                 Least Squares   F-statistic:                              27.66
Date:                Sat, 11 Sep 2021   Prob (F-statistic):                    4.86e-06
Time:                        19:55:13   Log-Likelihood:                         -700.24
No. Observations:                  42   AIC:                                      1402.
Df Residuals:                      41   BIC:                                      1404.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
use_cnt      561.7619    106.821      5.259      0.000     346.033     777.490
==============================================================================
Omnibus:                        8.807   Durbin-Watson:                   0.090
Prob(Omnibus):                  0.012   Jarque-Bera (JB):                6.334
Skew:                           0.815   Prob(JB):                       0.0421
Kurtosis:                       2.019   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
feature = data.drop(['em_g'], 1)

em_g = data[['em_g']]
x_card_amt = data['use_amt']

x_data1 = sm.add_constant(x_card_amt, has_constant = "add")

multi_model = sm.OLS(em_g, x_card_amt)
fitted_multi_model = multi_model.fit()

fitted_multi_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   em_g   R-squared (uncentered):                   0.430
Model:                            OLS   Adj. R-squared (uncentered):              0.416
Method:                 Least Squares   F-statistic:                              30.88
Date:                Sat, 11 Sep 2021   Prob (F-statistic):                    1.84e-06
Time:                        19:55:45   Log-Likelihood:                         -699.28
No. Observations:                  42   AIC:                                      1401.
Df Residuals:                      41   BIC:                                      1402.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
use_amt        0.0170      0.003      5.557      0.000       0.011       0.023
==============================================================================
Omnibus:                        8.069   Durbin-Watson:                   0.101
Prob(Omnibus):                  0.018   Jarque-Bera (JB):                6.274
Skew:                           0.828   Prob(JB):                       0.0434
Kurtosis:                       2.081   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
corr = data.corr(method='pearson')
corr

           em_cnt      em_g   use_cnt   use_amt
em_cnt   1.000000  0.964443 -0.067418  0.070767
em_g     0.964443  1.000000 -0.112070  0.049244
use_cnt -0.067418 -0.112070  1.000000  0.924712
use_amt  0.070767  0.049244  0.924712  1.000000