In [2]:
import pandas as pd
import numpy as np

In [36]:
data1 = pd.read_excel("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\arima_korean.xlsx")
data2 = pd.read_excel("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\arima_short_term_frgn, resident_2.xlsx")
data3 = pd.read_excel("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\arima_card_amt_card_cnt.xlsx")
data4 = pd.read_excel("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\arima_waste_cnt.xlsx")
data5 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\house_7,8_preprocessing.csv")
data6 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\distancing_7,8_preprocessing.csv")

In [37]:
data5['base_date'] = pd.to_datetime(data5['base_date'], format="%Y-%m-%d")
data6['base_date'] = pd.to_datetime(data6['base_date'], format="%Y-%m-%d")

In [38]:
data_merge = pd.merge(data1, data2, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data3, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data4, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data5, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data6, on=['base_date', 'emd_cd'])
data_merge

,base_date,emd_cd,korean,long_term_frgn,short_term_frgn,resident,card_amt,card_cnt,waste_cnt,detached,apt,town,multiplex,commercial_building,distancing
0,2021-07-31,50110250,8.684900e+06,469672.434947,387.934302,24457.773136,1.068127e+07,292.313278,23313.069768,5542,954,1085,608,277,1.838710
1,2021-08-31,50110250,8.084718e+06,487440.026239,0.000000,24460.105880,1.074104e+07,294.135146,29166.393110,5542,954,1085,608,277,3.451613
2,2021-07-31,50110253,1.840661e+07,767679.832251,24078.524659,38348.798237,1.994445e+07,612.165449,43546.575692,9367,1059,1739,1601,335,1.838710
3,2021-08-31,50110253,1.724375e+07,738378.189646,20402.217817,38397.630329,2.006197e+07,616.376206,44514.026637,9367,1059,1739,1601,335,3.451613
4,2021-07-31,50110256,7.144597e+06,171265.969852,564.443777,15952.529939,6.808693e+06,201.465816,14990.381241,5532,134,231,380,244,1.838710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2021-08-31,50130600,4.387631e+06,107985.071393,0.000000,14032.522717,9.440573e+06,286.112808,28545.540924,1612,2529,797,214,39,3.451613
82,2021-07-31,50130610,4.226366e+06,211468.254785,3231.755998,14017.618606,8.139163e+06,225.542004,28407.517288,1484,1667,1152,615,88,1.838710
83,2021-08-31,50130610,4.080363e+06,227339.915343,2503.870872,11860.881860,8.207918e+06,227.470993,21959.548637,1484,1667,1152,615,88,3.451613
84,2021-07-31,50130620,5.586203e+06,144703.303893,0.000000,4160.859809,2.408850e+06,70.501664,6155.506122,1023,0,219,39,29,1.838710
85,2021-08-31,50130620,5.573783e+06,144105.245217,0.000000,4149.741082,2.413067e+06,69.888115,6207.558306,1023,0,219,39,29,3.451613

In [39]:
data = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\ver_3_merge_data.csv")
data

,base_date,emd_cd,korean,long_term_frgn,short_term_frgn,resident,card_cnt,card_amt,waste_cnt,detached,apt,town,multiplex,commercial_building,distancing,waste_amt
0,2019-11-30,50110250,7.321788e+06,469689.3527,129161.4006,25149,267.380645,9586590.265,620,60578,58244,18880,28829,3900,0.000000,2279550
1,2019-12-31,50110250,6.915173e+06,482920.2385,122124.6609,25080,266.814465,9621756.255,8178,60578,58244,18880,28829,3900,0.000000,31493650
2,2020-01-31,50110250,7.476137e+06,587299.9640,112758.3034,25076,257.604430,9648302.136,13042,5542,954,1085,608,277,0.000000,49632850
3,2020-02-29,50110250,5.561978e+06,559439.3959,60252.7989,25021,249.621160,8760701.457,12264,5542,954,1085,608,277,0.000000,46197050
4,2020-03-31,50110250,6.094369e+06,714445.0812,29661.4429,24942,261.877023,8979547.945,14316,5542,954,1085,608,277,0.000000,52561750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,2021-02-28,50130620,4.321265e+06,109325.4866,280.6159,4173,65.216000,2463788.712,4563,1023,0,219,39,29,1.750000,15566250
1630,2021-03-31,50130620,4.744309e+06,118258.8891,1475.8404,4178,67.700000,2572585.700,4920,1023,0,219,39,29,1.500000,17300600
1631,2021-04-30,50130620,5.236706e+06,129227.7480,1283.0997,4161,68.642336,2473174.901,5256,1023,0,219,39,29,1.500000,17646850
1632,2021-05-31,50130620,5.805413e+06,144213.2650,1212.2652,4178,69.333333,2864493.949,6346,1023,0,219,39,29,1.532258,19494750
1633,2021-06-30,50130620,5.705196e+06,146956.6848,1194.0627,4152,69.892989,2404632.734,6328,1023,0,219,39,29,2.000000,18753350

In [41]:
result = data.append(data_merge)
result

,base_date,emd_cd,korean,long_term_frgn,short_term_frgn,resident,card_cnt,card_amt,waste_cnt,detached,apt,town,multiplex,commercial_building,distancing,waste_amt
0,2019-11-30,50110250,7.321788e+06,469689.352700,129161.400600,25149.000000,267.380645,9.586590e+06,620.000000,60578,58244,18880,28829,3900,0.000000,2279550.0
1,2019-12-31,50110250,6.915173e+06,482920.238500,122124.660900,25080.000000,266.814465,9.621756e+06,8178.000000,60578,58244,18880,28829,3900,0.000000,31493650.0
2,2020-01-31,50110250,7.476137e+06,587299.964000,112758.303400,25076.000000,257.604430,9.648302e+06,13042.000000,5542,954,1085,608,277,0.000000,49632850.0
3,2020-02-29,50110250,5.561978e+06,559439.395900,60252.798900,25021.000000,249.621160,8.760701e+06,12264.000000,5542,954,1085,608,277,0.000000,46197050.0
4,2020-03-31,50110250,6.094369e+06,714445.081200,29661.442900,24942.000000,261.877023,8.979548e+06,14316.000000,5542,954,1085,608,277,0.000000,52561750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2021-08-31 00:00:00,50130600,4.387631e+06,107985.071393,0.000000,14032.522717,286.112808,9.440573e+06,28545.540924,1612,2529,797,214,39,3.451613,NaN
82,2021-07-31 00:00:00,50130610,4.226366e+06,211468.254785,3231.755998,14017.618606,225.542004,8.139163e+06,28407.517288,1484,1667,1152,615,88,1.838710,NaN
83,2021-08-31 00:00:00,50130610,4.080363e+06,227339.915343,2503.870872,11860.881860,227.470993,8.207918e+06,21959.548637,1484,1667,1152,615,88,3.451613,NaN
84,2021-07-31 00:00:00,50130620,5.586203e+06,144703.303893,0.000000,4160.859809,70.501664,2.408850e+06,6155.506122,1023,0,219,39,29,1.838710,NaN
85,2021-08-31 00:00:00,50130620,5.573783e+06,144105.245217,0.000000,4149.741082,69.888115,2.413067e+06,6207.558306,1023,0,219,39,29,3.451613,NaN

In [42]:
result.to_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\ver_3_merge_data_predict.csv", index_label=False)

In [43]:
pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\ver_3_merge_data_predict.csv")

,base_date,emd_cd,korean,long_term_frgn,short_term_frgn,resident,card_cnt,card_amt,waste_cnt,detached,apt,town,multiplex,commercial_building,distancing,waste_amt
0,2019-11-30,50110250,7.321788e+06,469689.352700,129161.400600,25149.000000,267.380645,9.586590e+06,620.000000,60578,58244,18880,28829,3900,0.000000,2279550.0
1,2019-12-31,50110250,6.915173e+06,482920.238500,122124.660900,25080.000000,266.814465,9.621756e+06,8178.000000,60578,58244,18880,28829,3900,0.000000,31493650.0
2,2020-01-31,50110250,7.476137e+06,587299.964000,112758.303400,25076.000000,257.604430,9.648302e+06,13042.000000,5542,954,1085,608,277,0.000000,49632850.0
3,2020-02-29,50110250,5.561978e+06,559439.395900,60252.798900,25021.000000,249.621160,8.760701e+06,12264.000000,5542,954,1085,608,277,0.000000,46197050.0
4,2020-03-31,50110250,6.094369e+06,714445.081200,29661.442900,24942.000000,261.877023,8.979548e+06,14316.000000,5542,954,1085,608,277,0.000000,52561750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2021-08-31 00:00:00,50130600,4.387631e+06,107985.071393,0.000000,14032.522717,286.112808,9.440573e+06,28545.540924,1612,2529,797,214,39,3.451613,NaN
82,2021-07-31 00:00:00,50130610,4.226366e+06,211468.254785,3231.755998,14017.618606,225.542004,8.139163e+06,28407.517288,1484,1667,1152,615,88,1.838710,NaN
83,2021-08-31 00:00:00,50130610,4.080363e+06,227339.915343,2503.870872,11860.881860,227.470993,8.207918e+06,21959.548637,1484,1667,1152,615,88,3.451613,NaN
84,2021-07-31 00:00:00,50130620,5.586203e+06,144703.303893,0.000000,4160.859809,70.501664,2.408850e+06,6155.506122,1023,0,219,39,29,1.838710,NaN
85,2021-08-31 00:00:00,50130620,5.573783e+06,144105.245217,0.000000,4149.741082,69.888115,2.413067e+06,6207.558306,1023,0,219,39,29,3.451613,NaN