In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 waste_cnt임)

In [18]:
df = pd.read_csv("files\\data_preprocessing\\korean_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'korean'] 
df

            base_date    emd_cd        korean
base_date
2018-01-31 2018-01-31  50110250  7.209306e+06
2018-02-28 2018-02-28  50110250  5.579125e+06
2018-03-31 2018-03-31  50110250  7.615021e+06
2018-04-30 2018-04-30  50110250  8.498349e+06
2018-05-31 2018-05-31  50110250  8.916782e+06
...               ...       ...           ...
2021-02-28 2021-02-28  50130620  4.321265e+06
2021-03-31 2021-03-31  50130620  4.744309e+06
2021-04-30 2021-04-30  50130620  5.236706e+06
2021-05-31 2021-05-31  50130620  5.805413e+06
2021-06-30 2021-06-30  50130620  5.705196e+06

[1806 rows x 3 columns]

In [19]:
# 필요 없는 열 제거
data = df.drop(['base_date'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd        korean
base_date
2018-01-31  50110250  7.209306e+06
2018-02-28  50110250  5.579125e+06
2018-03-31  50110250  7.615021e+06
2018-04-30  50110250  8.498349e+06
2018-05-31  50110250  8.916782e+06
...              ...           ...
2021-02-28  50130620  4.321265e+06
2021-03-31  50130620  4.744309e+06
2021-04-30  50130620  5.236706e+06
2021-05-31  50130620  5.805413e+06
2021-06-30  50130620  5.705196e+06

[1806 rows x 2 columns]

In [20]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110670 

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

                  korean
base_date
2018-01-31  3.809546e+06
2018-02-28  3.113112e+06
2018-03-31  3.682919e+06
2018-04-30  4.032999e+06
2018-05-31  3.990706e+06
2018-06-30  3.773039e+06
2018-07-31  3.820648e+06
2018-08-31  4.057680e+06
2018-09-30  3.810208e+06
2018-10-31  3.857261e+06
2018-11-30  3.449796e+06
2018-12-31  3.577281e+06
2019-01-31  3.961673e+06
2019-02-28  3.591032e+06
2019-03-31  3.583921e+06
2019-04-30  3.462706e+06
2019-05-31  3.574369e+06
2019-06-30  3.675249e+06
2019-07-31  3.823543e+06
2019-08-31  3.752788e+06
2019-09-30  3.457425e+06
2019-10-31  3.576951e+06
2019-11-30  3.369845e+06
2019-12-31  3.682686e+06
2020-01-31  3.877969e+06
2020-02-29  3.599145e+06
2020-03-31  3.617001e+06
2020-04-30  3.393075e+06
2020-05-31  3.678408e+06
2020-06-30  3.528089e+06
2020-07-31  3.939601e+06
2020-08-31  3.865115e+06
2020-09-30  3.563973e+06
2020-10-31  3.787943e+06
2020-11-30  3.719711e+06
2020-12-31  3.751845e+06
2021-01-31  3.659012e+06
2021-02-28  3.510791e+06
2021-03-31  3.778715e+06
2021-04-30  3.673231e+06
2021-05-31  4.005229e+06
2021-06-30  3.727118e+06

In [21]:
# series 형으로 변환
sub_df.to_dict('series')

{'korean': base_date
 2018-01-31    3.809546e+06
 2018-02-28    3.113112e+06
 2018-03-31    3.682919e+06
 2018-04-30    4.032999e+06
 2018-05-31    3.990706e+06
 2018-06-30    3.773039e+06
 2018-07-31    3.820648e+06
 2018-08-31    4.057680e+06
 2018-09-30    3.810208e+06
 2018-10-31    3.857261e+06
 2018-11-30    3.449796e+06
 2018-12-31    3.577281e+06
 2019-01-31    3.961673e+06
 2019-02-28    3.591032e+06
 2019-03-31    3.583921e+06
 2019-04-30    3.462706e+06
 2019-05-31    3.574369e+06
 2019-06-30    3.675249e+06
 2019-07-31    3.823543e+06
 2019-08-31    3.752788e+06
 2019-09-30    3.457425e+06
 2019-10-31    3.576951e+06
 2019-11-30    3.369845e+06
 2019-12-31    3.682686e+06
 2020-01-31    3.877969e+06
 2020-02-29    3.599145e+06
 2020-03-31    3.617001e+06
 2020-04-30    3.393075e+06
 2020-05-31    3.678408e+06
 2020-06-30    3.528089e+06
 2020-07-31    3.939601e+06
 2020-08-31    3.865115e+06
 2020-09-30    3.563973e+06
 2020-10-31    3.787943e+06
 2020-11-30    3.719711e+06
 2020-12-31    3.751845e+06
 2021-01-31    3.659012e+06
 2021-02-28    3.510791e+06
 2021-03-31    3.778715e+06
 2021-04-30    3.673231e+06
 2021-05-31    4.005229e+06
 2021-06-30    3.727118e+06
 Name: korean, dtype: float64}

# ARIMA

In [22]:
# ARIMA에 적합한 log로 바꾸는 과정
sub_df_log = np.log1p(sub_df[:])

In [23]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df_log)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -1.946394
p-value : 0.310560
Critical Values :
	1%: -3.620918
	5%: -2.943539
	10%: -2.610400

In [24]:
# 차분
diff_1 = sub_df_log.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -2.384590
p-value : 0.146133
Critical Values :
	1%: -3.669920
	5%: -2.964071
	10%: -2.621171

In [25]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df_log,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df_log)

##### 여기서 아래쪽에 'Best model:  ARIMA(1,1,1)(0,0,0)[1] intercept' 이렇게 나오면 (1,1,1) 가져다 쓸거임 #####
##### ARIMA(1,1,1) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=-122.477, Time=0.04 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=-121.207, Time=0.08 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=-119.467, Time=0.13 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=-118.334, Time=0.12 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=-116.613, Time=0.31 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=-117.420, Time=0.35 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=-121.095, Time=0.10 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=-119.188, Time=0.24 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=-117.603, Time=0.95 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=-116.306, Time=0.75 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=-115.089, Time=0.35 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=-119.554, Time=0.16 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=-116.540, Time=0.19 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=-115.337, Time=0.44 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=-114.616, Time=0.47 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=-117.888, Time=0.22 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=-115.903, Time=0.36 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=-106.986, Time=0.39 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=-115.823, Time=0.63 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=-113.585, Time=0.66 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=-116.887, Time=0.65 sec

Best model:  ARIMA(0,0,0)(0,0,0)[1] intercept
Total fit time: 7.637 seconds

ARIMA(order=(0, 0, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [26]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df_log.korean.values, order=(0,0,0))
                               
#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(0, 0)   Log Likelihood                  63.238
Method:                           css   S.D. of innovations              0.054
Date:                Sat, 11 Sep 2021   AIC                           -122.477
Time:                        02:48:56   BIC                           -119.002
Sample:                             0   HQIC                          -121.203

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         15.1209      0.008   1825.353      0.000      15.105      15.137
==============================================================================

C:\Users\soeun\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [27]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

(array([15.1208929, 15.1208929]), array([0.05368526, 0.05368526]), array([[15.01567172, 15.22611409],
       [15.01567172, 15.22611409]]))

In [29]:
print( np.exp(15.1208929) - 1 )  
print( np.exp(15.1208929) - 1 )

3689098.3218377936
3689098.3218377936