In [39]:
import pandas as pd
import numpy as np

In [40]:
data = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\house_preprocessing_v2.csv", encoding='cp949')

In [41]:
data

,base_date,emd_cd,detached,apt,town,multiplex,commercial_building
0,2018-01-31,50110250,59279,56760,17641,27893,3647
1,2018-01-31,50110253,59279,56760,17641,27893,3647
2,2018-01-31,50110256,59279,56760,17641,27893,3647
3,2018-01-31,50110259,59279,56760,17641,27893,3647
4,2018-01-31,50110310,59279,56760,17641,27893,3647
...,...,...,...,...,...,...,...
1801,2021-06-30,50130580,852,1758,512,625,66
1802,2021-06-30,50130590,1844,2143,1688,397,81
1803,2021-06-30,50130600,1612,2529,797,214,39
1804,2021-06-30,50130610,1484,1667,1152,615,88
1805,2021-06-30,50130620,1023,0,219,39,29

In [45]:
df = data.loc[1763:]
df

,base_date,emd_cd,detached,apt,town,multiplex,commercial_building
1763,2021-06-30,50110250,5542,954,1085,608,277
1764,2021-06-30,50110253,9367,1059,1739,1601,335
1765,2021-06-30,50110256,5532,134,231,380,244
1766,2021-06-30,50110259,6281,759,1493,1108,254
1767,2021-06-30,50110310,3864,24,217,81,104
1768,2021-06-30,50110320,783,0,0,20,21
1769,2021-06-30,50110330,658,0,6,7,50
1770,2021-06-30,50110510,439,115,15,143,84
1771,2021-06-30,50110520,3584,5116,411,1302,203
1772,2021-06-30,50110530,726,1226,64,239,138
1773,2021-06-30,50110540,3609,6553,2521,3647,486
1774,2021-06-30,50110550,1879,1147,179,712,153
1775,2021-06-30,50110560,1144,763,121,468,133
1776,2021-06-30,50110570,1268,263,132,530,85
1777,2021-06-30,50110580,2417,1161,272,716,109
1778,2021-06-30,50110590,1049,1145,233,665,56
1779,2021-06-30,50110600,1156,5510,612,1411,105
1780,2021-06-30,50110610,1494,5778,613,918,111
1781,2021-06-30,50110620,697,689,255,364,39
1782,2021-06-30,50110630,2134,4363,3227,2975,199
1783,2021-06-30,50110640,1094,545,1394,1797,114
1784,2021-06-30,50110650,1902,7474,1753,4015,279
1785,2021-06-30,50110660,2266,10247,2248,3429,225
1786,2021-06-30,50110670,1338,4098,412,1399,126
1787,2021-06-30,50110680,571,292,229,491,38
1788,2021-06-30,50110690,496,276,158,109,61
1789,2021-06-30,50130250,4792,715,3153,948,247
1790,2021-06-30,50130253,5359,705,504,289,171
1791,2021-06-30,50130259,4617,674,212,548,219
1792,2021-06-30,50130310,3791,193,464,479,141
1793,2021-06-30,50130320,3522,285,461,461,144
1794,2021-06-30,50130510,870,279,170,215,56
1795,2021-06-30,50130520,316,359,131,18,66
1796,2021-06-30,50130530,526,130,35,158,162
1797,2021-06-30,50130540,569,348,93,98,90
1798,2021-06-30,50130550,1222,33,296,347,47
1799,2021-06-30,50130560,1327,142,567,78,59
1800,2021-06-30,50130570,863,6483,571,1211,182
1801,2021-06-30,50130580,852,1758,512,625,66
1802,2021-06-30,50130590,1844,2143,1688,397,81
1803,2021-06-30,50130600,1612,2529,797,214,39
1804,2021-06-30,50130610,1484,1667,1152,615,88
1805,2021-06-30,50130620,1023,0,219,39,29

In [48]:
df7 = df.copy()
df7['base_date'] = '2021-07-31'
df7['base_date'] = pd.to_datetime(df7['base_date'], format="%Y-%m-%d")
df7

,base_date,emd_cd,detached,apt,town,multiplex,commercial_building
1763,2021-07-31,50110250,5542,954,1085,608,277
1764,2021-07-31,50110253,9367,1059,1739,1601,335
1765,2021-07-31,50110256,5532,134,231,380,244
1766,2021-07-31,50110259,6281,759,1493,1108,254
1767,2021-07-31,50110310,3864,24,217,81,104
1768,2021-07-31,50110320,783,0,0,20,21
1769,2021-07-31,50110330,658,0,6,7,50
1770,2021-07-31,50110510,439,115,15,143,84
1771,2021-07-31,50110520,3584,5116,411,1302,203
1772,2021-07-31,50110530,726,1226,64,239,138
1773,2021-07-31,50110540,3609,6553,2521,3647,486
1774,2021-07-31,50110550,1879,1147,179,712,153
1775,2021-07-31,50110560,1144,763,121,468,133
1776,2021-07-31,50110570,1268,263,132,530,85
1777,2021-07-31,50110580,2417,1161,272,716,109
1778,2021-07-31,50110590,1049,1145,233,665,56
1779,2021-07-31,50110600,1156,5510,612,1411,105
1780,2021-07-31,50110610,1494,5778,613,918,111
1781,2021-07-31,50110620,697,689,255,364,39
1782,2021-07-31,50110630,2134,4363,3227,2975,199
1783,2021-07-31,50110640,1094,545,1394,1797,114
1784,2021-07-31,50110650,1902,7474,1753,4015,279
1785,2021-07-31,50110660,2266,10247,2248,3429,225
1786,2021-07-31,50110670,1338,4098,412,1399,126
1787,2021-07-31,50110680,571,292,229,491,38
1788,2021-07-31,50110690,496,276,158,109,61
1789,2021-07-31,50130250,4792,715,3153,948,247
1790,2021-07-31,50130253,5359,705,504,289,171
1791,2021-07-31,50130259,4617,674,212,548,219
1792,2021-07-31,50130310,3791,193,464,479,141
1793,2021-07-31,50130320,3522,285,461,461,144
1794,2021-07-31,50130510,870,279,170,215,56
1795,2021-07-31,50130520,316,359,131,18,66
1796,2021-07-31,50130530,526,130,35,158,162
1797,2021-07-31,50130540,569,348,93,98,90
1798,2021-07-31,50130550,1222,33,296,347,47
1799,2021-07-31,50130560,1327,142,567,78,59
1800,2021-07-31,50130570,863,6483,571,1211,182
1801,2021-07-31,50130580,852,1758,512,625,66
1802,2021-07-31,50130590,1844,2143,1688,397,81
1803,2021-07-31,50130600,1612,2529,797,214,39
1804,2021-07-31,50130610,1484,1667,1152,615,88
1805,2021-07-31,50130620,1023,0,219,39,29

In [49]:
df8 = df7.copy()
df8['base_date'] = '2021-08-31'
df8['base_date'] = pd.to_datetime(df8['base_date'], format="%Y-%m-%d")
df8

,base_date,emd_cd,detached,apt,town,multiplex,commercial_building
1763,2021-08-31,50110250,5542,954,1085,608,277
1764,2021-08-31,50110253,9367,1059,1739,1601,335
1765,2021-08-31,50110256,5532,134,231,380,244
1766,2021-08-31,50110259,6281,759,1493,1108,254
1767,2021-08-31,50110310,3864,24,217,81,104
1768,2021-08-31,50110320,783,0,0,20,21
1769,2021-08-31,50110330,658,0,6,7,50
1770,2021-08-31,50110510,439,115,15,143,84
1771,2021-08-31,50110520,3584,5116,411,1302,203
1772,2021-08-31,50110530,726,1226,64,239,138
1773,2021-08-31,50110540,3609,6553,2521,3647,486
1774,2021-08-31,50110550,1879,1147,179,712,153
1775,2021-08-31,50110560,1144,763,121,468,133
1776,2021-08-31,50110570,1268,263,132,530,85
1777,2021-08-31,50110580,2417,1161,272,716,109
1778,2021-08-31,50110590,1049,1145,233,665,56
1779,2021-08-31,50110600,1156,5510,612,1411,105
1780,2021-08-31,50110610,1494,5778,613,918,111
1781,2021-08-31,50110620,697,689,255,364,39
1782,2021-08-31,50110630,2134,4363,3227,2975,199
1783,2021-08-31,50110640,1094,545,1394,1797,114
1784,2021-08-31,50110650,1902,7474,1753,4015,279
1785,2021-08-31,50110660,2266,10247,2248,3429,225
1786,2021-08-31,50110670,1338,4098,412,1399,126
1787,2021-08-31,50110680,571,292,229,491,38
1788,2021-08-31,50110690,496,276,158,109,61
1789,2021-08-31,50130250,4792,715,3153,948,247
1790,2021-08-31,50130253,5359,705,504,289,171
1791,2021-08-31,50130259,4617,674,212,548,219
1792,2021-08-31,50130310,3791,193,464,479,141
1793,2021-08-31,50130320,3522,285,461,461,144
1794,2021-08-31,50130510,870,279,170,215,56
1795,2021-08-31,50130520,316,359,131,18,66
1796,2021-08-31,50130530,526,130,35,158,162
1797,2021-08-31,50130540,569,348,93,98,90
1798,2021-08-31,50130550,1222,33,296,347,47
1799,2021-08-31,50130560,1327,142,567,78,59
1800,2021-08-31,50130570,863,6483,571,1211,182
1801,2021-08-31,50130580,852,1758,512,625,66
1802,2021-08-31,50130590,1844,2143,1688,397,81
1803,2021-08-31,50130600,1612,2529,797,214,39
1804,2021-08-31,50130610,1484,1667,1152,615,88
1805,2021-08-31,50130620,1023,0,219,39,29

In [59]:
house_data = df7.append(df8)
house_data = house_data.reset_index(drop=True)
house_data

    base_date    emd_cd  detached   apt  town  multiplex  commercial_building
0  2021-07-31  50110250      5542   954  1085        608                  277
1  2021-07-31  50110253      9367  1059  1739       1601                  335
2  2021-07-31  50110256      5532   134   231        380                  244
3  2021-07-31  50110259      6281   759  1493       1108                  254
4  2021-07-31  50110310      3864    24   217         81                  104
..        ...       ...       ...   ...   ...        ...                  ...
81 2021-08-31  50130580       852  1758   512        625                   66
82 2021-08-31  50130590      1844  2143  1688        397                   81
83 2021-08-31  50130600      1612  2529   797        214                   39
84 2021-08-31  50130610      1484  1667  1152        615                   88
85 2021-08-31  50130620      1023     0   219         39                   29

[86 rows x 7 columns]

In [60]:
house_data.to_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\house_7,8_preprocessing.csv", index_label=False)

In [61]:
pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\house_7,8_preprocessing.csv")

     base_date    emd_cd  detached   apt  town  multiplex  commercial_building
0   2021-07-31  50110250      5542   954  1085        608                  277
1   2021-07-31  50110253      9367  1059  1739       1601                  335
2   2021-07-31  50110256      5532   134   231        380                  244
3   2021-07-31  50110259      6281   759  1493       1108                  254
4   2021-07-31  50110310      3864    24   217         81                  104
..         ...       ...       ...   ...   ...        ...                  ...
81  2021-08-31  50130580       852  1758   512        625                   66
82  2021-08-31  50130590      1844  2143  1688        397                   81
83  2021-08-31  50130600      1612  2529   797        214                   39
84  2021-08-31  50130610      1484  1667  1152        615                   88
85  2021-08-31  50130620      1023     0   219         39                   29

[86 rows x 7 columns]