In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [2]:
df = pd.read_csv("files\\data_preprocessing\\long_term_frgn_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'long_term_frgn']  
df

            base_date    emd_cd  long_term_frgn
base_date
2018-01-31 2018-01-31  50110250     427986.3363
2018-02-28 2018-02-28  50110250     427240.8119
2018-03-31 2018-03-31  50110250     513638.2631
2018-04-30 2018-04-30  50110250     474601.3510
2018-05-31 2018-05-31  50110250     395262.5483
...               ...       ...             ...
2021-02-28 2021-02-28  50130620     109325.4866
2021-03-31 2021-03-31  50130620     118258.8891
2021-04-30 2021-04-30  50130620     129227.7480
2021-05-31 2021-05-31  50130620     144213.2650
2021-06-30 2021-06-30  50130620     146956.6848

[1806 rows x 3 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date'], 1)    
data

              emd_cd  long_term_frgn
base_date
2018-01-31  50110250     427986.3363
2018-02-28  50110250     427240.8119
2018-03-31  50110250     513638.2631
2018-04-30  50110250     474601.3510
2018-05-31  50110250     395262.5483
...              ...             ...
2021-02-28  50130620     109325.4866
2021-03-31  50130620     118258.8891
2021-04-30  50130620     129227.7480
2021-05-31  50130620     144213.2650
2021-06-30  50130620     146956.6848

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110650

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            long_term_frgn
base_date
2018-01-31    7.911226e+05
2018-02-28    6.447807e+05
2018-03-31    7.445064e+05
2018-04-30    7.408931e+05
2018-05-31    7.908444e+05
2018-06-30    7.856774e+05
2018-07-31    8.701373e+05
2018-08-31    8.445401e+05
2018-09-30    7.727707e+05
2018-10-31    7.695526e+05
2018-11-30    6.899605e+05
2018-12-31    7.543577e+05
2019-01-31    8.920880e+05
2019-02-28    7.609326e+05
2019-03-31    9.105474e+05
2019-04-30    8.284918e+05
2019-05-31    9.249564e+05
2019-06-30    1.006151e+06
2019-07-31    1.123393e+06
2019-08-31    1.075016e+06
2019-09-30    8.391705e+05
2019-10-31    8.412974e+05
2019-11-30    8.289140e+05
2019-12-31    8.441430e+05
2020-01-31    7.498338e+05
2020-02-29    6.006054e+05
2020-03-31    6.011848e+05
2020-04-30    5.653785e+05
2020-05-31    6.381260e+05
2020-06-30    5.758523e+05
2020-07-31    7.185345e+05
2020-08-31    6.624452e+05
2020-09-30    5.196308e+05
2020-10-31    6.118365e+05
2020-11-30    5.688194e+05
2020-12-31    5.557610e+05
2021-01-31    5.357401e+05
2021-02-28    4.982470e+05
2021-03-31    5.330379e+05
2021-04-30    5.719270e+05
2021-05-31    6.194687e+05
2021-06-30    6.497348e+05

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'long_term_frgn': base_date
 2018-01-31    7.911226e+05
 2018-02-28    6.447807e+05
 2018-03-31    7.445064e+05
 2018-04-30    7.408931e+05
 2018-05-31    7.908444e+05
 2018-06-30    7.856774e+05
 2018-07-31    8.701373e+05
 2018-08-31    8.445401e+05
 2018-09-30    7.727707e+05
 2018-10-31    7.695526e+05
 2018-11-30    6.899605e+05
 2018-12-31    7.543577e+05
 2019-01-31    8.920880e+05
 2019-02-28    7.609326e+05
 2019-03-31    9.105474e+05
 2019-04-30    8.284918e+05
 2019-05-31    9.249564e+05
 2019-06-30    1.006151e+06
 2019-07-31    1.123393e+06
 2019-08-31    1.075016e+06
 2019-09-30    8.391705e+05
 2019-10-31    8.412974e+05
 2019-11-30    8.289140e+05
 2019-12-31    8.441430e+05
 2020-01-31    7.498338e+05
 2020-02-29    6.006054e+05
 2020-03-31    6.011848e+05
 2020-04-30    5.653785e+05
 2020-05-31    6.381260e+05
 2020-06-30    5.758523e+05
 2020-07-31    7.185345e+05
 2020-08-31    6.624452e+05
 2020-09-30    5.196308e+05
 2020-10-31    6.118365e+05
 2020-11-30    5.688194e+05
 2020-12-31    5.557610e+05
 2021-01-31    5.357401e+05
 2021-02-28    4.982470e+05
 2021-03-31    5.330379e+05
 2021-04-30    5.719270e+05
 2021-05-31    6.194687e+05
 2021-06-30    6.497348e+05
 Name: long_term_frgn, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -1.858920
p-value : 0.351626
Critical Values :
	1%: -3.600983
	5%: -2.935135
	10%: -2.605963

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -7.826522
p-value : 0.000000
Critical Values :
	1%: -3.605565
	5%: -2.937069
	10%: -2.606986

In [9]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=1053.459, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=1051.590, Time=0.14 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=1053.129, Time=0.04 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=1054.880, Time=0.04 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=1056.774, Time=0.07 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=1059.192, Time=0.13 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=1050.828, Time=0.04 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=1052.434, Time=0.06 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=1054.890, Time=0.13 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=1056.474, Time=0.16 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=1058.144, Time=0.33 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=1052.290, Time=0.03 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=1054.380, Time=0.10 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=1051.283, Time=0.33 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.46 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=1054.328, Time=0.06 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=1056.379, Time=0.15 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.50 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=1056.410, Time=0.05 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=1058.304, Time=0.18 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=1057.757, Time=0.06 sec

Best model:  ARIMA(1,1,0)(0,0,0)[1] intercept
Total fit time: 3.106 seconds

ARIMA(order=(1, 1, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [10]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.long_term_frgn.values, order=(1,1,0))

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\soeun\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 0)   Log Likelihood                -523.838
Method:                       css-mle   S.D. of innovations          85566.601
Date:                Sat, 11 Sep 2021   AIC                           1053.677
Time:                        04:17:08   BIC                           1058.817
Sample:                             1   HQIC                          1055.549

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2879.1636   1.11e+04     -0.260      0.795   -2.46e+04    1.88e+04
ar.L1.D.y     -0.2110      0.156     -1.352      0.176      -0.517       0.095
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -4.7385           +0.0000j            4.7385            0.5000
-----------------------------------------------------------------------------

# 예측하기

In [11]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

(array([639860.75914444, 638457.7666276 ]), array([ 85566.60051435, 108991.2696202 ]), array([[472153.30385679, 807568.21443209],
       [424838.80354272, 852076.72971249]]))