In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110330  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31      7638.6272
2018-02-28     11669.9941
2018-03-31     14176.2469
2018-04-30     29702.8258
2018-05-31     28914.4384
2018-06-30     53934.4877
2018-07-31     62755.7186
2018-08-31     64607.1814
2018-09-30     53487.5796
2018-10-31     79385.1993
2018-11-30     50508.0839
2018-12-31     35255.1918
2019-01-31     37836.2557
2019-02-28     54313.2839
2019-03-31     58465.2141
2019-04-30     66479.8462
2019-05-31    123566.8600
2019-06-30     84115.2737
2019-07-31     86833.0580
2019-08-31    122209.4424
2019-09-30     66031.0999
2019-10-31     81552.5425
2019-11-30     57852.2652
2019-12-31     48968.4003
2020-01-31     42487.7325
2020-02-29     16317.4354
2020-03-31     12345.5975
2020-04-30      8163.3432
2020-05-31      1375.0218
2020-06-30      1490.6040
2020-07-31      1876.4071
2020-08-31      2558.5672
2020-09-30     11186.8145
2020-10-31      4595.1117
2020-11-30      4087.2302
2020-12-31      3568.6571
2021-01-31      1369.3895
2021-02-28       974.2227
2021-03-31      2321.8464
2021-04-30      2463.2303
2021-05-31      3373.9587
2021-06-30      4150.6546

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31      7638.6272
 2018-02-28     11669.9941
 2018-03-31     14176.2469
 2018-04-30     29702.8258
 2018-05-31     28914.4384
 2018-06-30     53934.4877
 2018-07-31     62755.7186
 2018-08-31     64607.1814
 2018-09-30     53487.5796
 2018-10-31     79385.1993
 2018-11-30     50508.0839
 2018-12-31     35255.1918
 2019-01-31     37836.2557
 2019-02-28     54313.2839
 2019-03-31     58465.2141
 2019-04-30     66479.8462
 2019-05-31    123566.8600
 2019-06-30     84115.2737
 2019-07-31     86833.0580
 2019-08-31    122209.4424
 2019-09-30     66031.0999
 2019-10-31     81552.5425
 2019-11-30     57852.2652
 2019-12-31     48968.4003
 2020-01-31     42487.7325
 2020-02-29     16317.4354
 2020-03-31     12345.5975
 2020-04-30      8163.3432
 2020-05-31      1375.0218
 2020-06-30      1490.6040
 2020-07-31      1876.4071
 2020-08-31      2558.5672
 2020-09-30     11186.8145
 2020-10-31      4595.1117
 2020-11-30      4087.2302
 2020-12-31      3568.6571
 2021-01-31      1369.3895
 2021-02-28       974.2227
 2021-03-31      2321.8464
 2021-04-30      2463.2303
 2021-05-31      3373.9587
 2021-06-30      4150.6546
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -0.672278
p-value : 0.853800
Critical Values :
	1%: -3.632743
	5%: -2.948510
	10%: -2.613017

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -3.642584
p-value : 0.004997
Critical Values :
	1%: -3.632743
	5%: -2.948510
	10%: -2.613017

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=926.640, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=924.989, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=918.381, Time=0.16 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=916.233, Time=0.09 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=915.142, Time=0.15 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=925.102, Time=0.10 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=923.904, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=926.043, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=919.473, Time=0.10 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=914.456, Time=0.11 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=918.284, Time=0.16 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=925.864, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=927.863, Time=0.07 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=919.009, Time=0.14 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=916.175, Time=0.10 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=919.565, Time=0.08 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=921.630, Time=0.13 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=919.476, Time=0.11 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=921.652, Time=0.24 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=923.035, Time=0.29 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=923.053, Time=0.06 sec

Best model:  ARIMA(1,1,3)(0,0,0)[1] intercept
Total fit time: 2.294 seconds

ARIMA(order=(1, 1, 3), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [11]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(1,1,3))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 3)   Log Likelihood                -451.340
Method:                       css-mle   S.D. of innovations          14250.194
Date:                Sat, 11 Sep 2021   AIC                            914.679
Time:                        01:49:16   BIC                            924.961
Sample:                             1   HQIC                           918.423

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -85.0726   2940.958     -0.029      0.977   -5849.245    5679.100
ar.L1.D.y     -0.4921      0.213     -2.306      0.021      -0.910      -0.074
ma.L1.D.y      0.1354      0.175      0.773      0.440      -0.208       0.479
ma.L2.D.y      0.1954      0.133      1.468      0.142      -0.066       0.456
ma.L3.D.y      0.6843      0.135      5.061      0.000       0.419       0.949
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -2.0321           +0.0000j            2.0321            0.5000
MA.1            0.4448           -1.0225j            1.1151           -0.1847
MA.2            0.4448           +1.0225j            1.1151            0.1847
MA.3           -1.1753           -0.0000j            1.1753           -0.5000
-----------------------------------------------------------------------------

# 예측하기

In [12]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([2654.88478543, 3264.02313927]), array([14250.19400026, 16943.92489308]), array([[-25274.9822278 ,  30584.75179865],
       [-29945.45940792,  36473.50568646]]))