In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 waste_cnt임)

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("files\\data_preprocessing\\korean_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'korean']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd        korean
base_date
2018-01-31 2018-01-31  50110250  7.209306e+06
2018-02-28 2018-02-28  50110250  5.579125e+06
2018-03-31 2018-03-31  50110250  7.615021e+06
2018-04-30 2018-04-30  50110250  8.498349e+06
2018-05-31 2018-05-31  50110250  8.916782e+06
...               ...       ...           ...
2021-02-28 2021-02-28  50130620  4.321265e+06
2021-03-31 2021-03-31  50130620  4.744309e+06
2021-04-30 2021-04-30  50130620  5.236706e+06
2021-05-31 2021-05-31  50130620  5.805413e+06
2021-06-30 2021-06-30  50130620  5.705196e+06

[1806 rows x 3 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd        korean
base_date
2018-01-31  50110250  7.209306e+06
2018-02-28  50110250  5.579125e+06
2018-03-31  50110250  7.615021e+06
2018-04-30  50110250  8.498349e+06
2018-05-31  50110250  8.916782e+06
...              ...           ...
2021-02-28  50130620  4.321265e+06
2021-03-31  50130620  4.744309e+06
2021-04-30  50130620  5.236706e+06
2021-05-31  50130620  5.805413e+06
2021-06-30  50130620  5.705196e+06

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110253  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

                  korean
base_date
2018-01-31  1.701773e+07
2018-02-28  1.419581e+07
2018-03-31  1.785043e+07
2018-04-30  1.791568e+07
2018-05-31  1.820977e+07
2018-06-30  1.791545e+07
2018-07-31  1.920703e+07
2018-08-31  2.039002e+07
2018-09-30  1.695624e+07
2018-10-31  1.769911e+07
2018-11-30  1.644990e+07
2018-12-31  1.592050e+07
2019-01-31  1.709534e+07
2019-02-28  1.500865e+07
2019-03-31  1.778123e+07
2019-04-30  1.752224e+07
2019-05-31  1.844527e+07
2019-06-30  1.711422e+07
2019-07-31  1.879067e+07
2019-08-31  2.033384e+07
2019-09-30  1.605742e+07
2019-10-31  1.806035e+07
2019-11-30  1.698516e+07
2019-12-31  1.696669e+07
2020-01-31  1.772884e+07
2020-02-29  1.380010e+07
2020-03-31  1.395796e+07
2020-04-30  1.355889e+07
2020-05-31  1.544939e+07
2020-06-30  1.564626e+07
2020-07-31  1.690397e+07
2020-08-31  1.962734e+07
2020-09-30  1.566113e+07
2020-10-31  1.860399e+07
2020-11-30  1.925248e+07
2020-12-31  1.620775e+07
2021-01-31  1.524956e+07
2021-02-28  1.629162e+07
2021-03-31  1.917463e+07
2021-04-30  1.926697e+07
2021-05-31  2.053052e+07
2021-06-30  1.987873e+07

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'korean': base_date
 2018-01-31    1.701773e+07
 2018-02-28    1.419581e+07
 2018-03-31    1.785043e+07
 2018-04-30    1.791568e+07
 2018-05-31    1.820977e+07
 2018-06-30    1.791545e+07
 2018-07-31    1.920703e+07
 2018-08-31    2.039002e+07
 2018-09-30    1.695624e+07
 2018-10-31    1.769911e+07
 2018-11-30    1.644990e+07
 2018-12-31    1.592050e+07
 2019-01-31    1.709534e+07
 2019-02-28    1.500865e+07
 2019-03-31    1.778123e+07
 2019-04-30    1.752224e+07
 2019-05-31    1.844527e+07
 2019-06-30    1.711422e+07
 2019-07-31    1.879067e+07
 2019-08-31    2.033384e+07
 2019-09-30    1.605742e+07
 2019-10-31    1.806035e+07
 2019-11-30    1.698516e+07
 2019-12-31    1.696669e+07
 2020-01-31    1.772884e+07
 2020-02-29    1.380010e+07
 2020-03-31    1.395796e+07
 2020-04-30    1.355889e+07
 2020-05-31    1.544939e+07
 2020-06-30    1.564626e+07
 2020-07-31    1.690397e+07
 2020-08-31    1.962734e+07
 2020-09-30    1.566113e+07
 2020-10-31    1.860399e+07
 2020-11-30    1.925248e+07
 2020-12-31    1.620775e+07
 2021-01-31    1.524956e+07
 2021-02-28    1.629162e+07
 2021-03-31    1.917463e+07
 2021-04-30    1.926697e+07
 2021-05-31    2.053052e+07
 2021-06-30    1.987873e+07
 Name: korean, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 log로 바꾸는 과정
sub_df_log = np.log1p(sub_df[:])
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df_log)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -3.863520
p-value : 0.002320
Critical Values :
	1%: -3.600983
	5%: -2.935135
	10%: -2.605963

In [8]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df_log,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df_log)

##### 여기서 아래쪽에 'Best model:  ARIMA(1,1,1)(0,0,0)[1] intercept' 이렇게 나오면 (1,1,1) 가져다 쓸거임 #####
##### ARIMA(1,1,1) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=-64.907, Time=0.04 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=-68.786, Time=0.13 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=-68.664, Time=0.08 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=-71.097, Time=0.16 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=-69.414, Time=0.28 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=-68.843, Time=0.45 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=-70.618, Time=0.06 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=-69.002, Time=0.25 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=-67.615, Time=0.47 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=-68.574, Time=0.32 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=-67.488, Time=0.34 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=-69.221, Time=0.13 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=-67.210, Time=0.36 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=-65.905, Time=0.24 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=-66.456, Time=0.52 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=-67.231, Time=0.26 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=-65.057, Time=0.19 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=-63.197, Time=0.45 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=-67.376, Time=0.57 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=-65.203, Time=0.17 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=-65.433, Time=0.29 sec

Best model:  ARIMA(0,0,3)(0,0,0)[1] intercept
Total fit time: 5.764 seconds

ARIMA(order=(0, 0, 3), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [9]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df_log.korean.values, order=(0,0,3))
                               
#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\soeun\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(0, 3)   Log Likelihood                  40.548
Method:                       css-mle   S.D. of innovations              0.091
Date:                Sat, 11 Sep 2021   AIC                            -71.097
Time:                        01:37:08   BIC                            -62.408
Sample:                             0   HQIC                           -67.912

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         16.6630      0.028    585.399      0.000      16.607      16.719
ma.L1.y        0.4970      0.147      3.373      0.001       0.208       0.786
ma.L2.y        0.1383      0.168      0.822      0.411      -0.192       0.468
ma.L3.y        0.4401      0.132      3.322      0.001       0.180       0.700
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
MA.1           -1.1192           -0.0000j            1.1192           -0.5000
MA.2            0.4025           -1.3668j            1.4248           -0.2044
MA.3            0.4025           +1.3668j            1.4248            0.2044
-----------------------------------------------------------------------------

# 예측하기

In [10]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값에 로그씌운거임 #####
##### 7월 : 10.05681231, 8월 : 10.28080669 #####
##### 이거 지수함수에 넣어서 원래값으로 돌려야 함 -> 각각 가져다 밑에 넣기 #####

(array([16.72822029, 16.66296014]), array([0.09093318, 0.10154359]), array([[16.54999453, 16.90644605],
       [16.46393836, 16.86198191]]))

In [11]:
print( np.exp(16.72822029) - 1 )  
print( np.exp(16.66296014) - 1 )

18406607.02683503
17243745.94875778